body {
    background-image: url("bgimage.png");
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    padding-top: 15px;
}

#header {
    width: 100%;
    height: 175px;
    position: relative;
}

#header #inner-header {
    margin: 0 auto;
    float: none;
    height: 100px;
    text-align: center;
    z-index: 1;
}

#header #inner-header #menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#menu li {
    display: inline-block;
    margin-bottom: 5px;
    border-left: 2px solid saddlebrown;
    padding-left: 5px;
    height: 25px;
    line-height: 25px;
    width: 100px;
}

#menu li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.75);
    border-left-color: red;
    color: white;
}

#menu li a {
    text-decoration: none;
    color: inherit;
    display: block;
}

#nav {
    display: block;
    height: 50px;
}

#image {
    display: inline-block;
    height: 100px;
}

#inner-nav {
    float: none;
    margin: 0 auto;
}

#inner-image {
    width: 210px;
    height: 100px;
    float: none;
    margin: 0 auto;
}

#cart-logo {
    width: 100px;
    height: 100px;
    display: inline-block;
}

#editor-logo {
    width: 100px;
    height: 100px;
    display: inline-block;
}

#logout {
    float: right;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 2;
}

#logout-button {
    height: 25px;
    width: 70px;
    line-height: 13px;
}

img {
    width: 100%;
    height: 100%;
}



table {
    display: block;
}

#main {
    float: none;
    margin: 0 auto;
    text-align: center;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    background:#999;
    text-align: center;
    height: 50px;
    line-height: 55px;
    background: -webkit-linear-gradient(180deg, rgb(224, 224, 224), rgba(224, 224, 224, 0.95));
    background: -o-linear-gradient(180deg, rgb(224, 224, 224), rgba(224, 224, 224, 0.95));
    background: -moz-linear-gradient(180deg, rgb(224, 224, 224), rgba(224, 224, 224, 0.95));
    background: linear-gradient(180deg, rgb(224, 224, 224), rgba(224, 224, 224, 0.95));
    color: #ffffff;
    font-weight: bold;
}

input[type=text],
input[type=password] {
    margin-bottom: 10px;
}

#login-form {
    float: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#register-form {
    float: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#messages {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#messages li {
    text-align: center;
}

#categories-table {
    float: none;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}

#categories-table>button {
    margin-bottom: 20px;
    width: 130px;
    height: 35px;
    background-color: #228B22;
    border: none;
    border-radius: 15px;
}

#categories-table>button>a {
    display: block;
    color: #ffffff;
    text-decoration: none;
}

#categories-nav {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#categories-nav-editor {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#categories-nav-editor li {
    display: inline-block;
    height: 70px;
    margin-bottom: 7px;
    line-height: 45px;
    font-size: 1.2em;
    margin-left: 2px;
    width: 165px;
}

#categories-nav li {
    display: inline-block;
    height: 50px;
    margin-bottom: 7px;
    line-height: 45px;
    font-size: 1.2em;
    margin-left: 2px;
    width: 165px;
}

#categories-nav-editor li>a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    height: 30px;
}

#categories-nav-editor li>a.cat-remove{
    color: #000000;
    text-align: right;
    height: 20px;
}

#categories-nav li>a {
    display: block;
    color: #ffffff;
    text-decoration: none;
}

#categories-nav li>a {
    display: block;
    color: #ffffff;
    text-decoration: none;
}

#search-product {
     text-align: center;
 }

#search-product>input[type=text] {
    padding-left: 5px;
}

#search-product>select {
    height: 26px;
    border: 1px solid darkgrey;
    color: grey;
    border-radius: 5px;
    padding-left: 5px;
    margin-bottom: 15px;
}

#search-product>select:focus {
     outline: none;
}

#search-product>input[type=text]:focus {
    outline: none;
}

#products-nav {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#products-nav li {
    display: inline-block;
    height: 50px;
    margin-bottom: 7px;
    line-height: 45px;
    font-size: 1.2em;
    margin-left: 2px;
    width: 165px;
    background-color: #228B22;
    text-align: center;
    position: relative;
}

#products-nav .promotion {
    width: 60px;
    height: 40px;
    position: absolute;
    top: -15px;
    left: 110px;
}

#products-nav li>a {
    display: block;
    color: #ffffff;
    text-decoration: none;
}

#product-container {
    margin-bottom: 50px;
    text-align: center;
}

#user {
    width: 100%;
    text-align: center;
}

#user ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

#user ul li {
    width: 100px;
    background-color: seagreen;
    display: inline-block;
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
}

#user ul li input[type=submit] {
    margin-top: 10px;
}

#product {
    text-align: center;
}

#add-category {
     text-align: center;
}

#add-category input[type=submit] {
    width: 120px;
    height: 30px;
    border: none;
    background-color: #286090;
    border-radius: 10px;
    color: #ffffff;
}

#products-nav-editor {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#products-nav-editor li {
    display: inline-block;
    height: 120px;
    margin-bottom: 7px;
    line-height: 45px;
    font-size: 1.2em;
    margin-left: 2px;
    width: 165px;
    background-color: #228B22;
    text-align: center;
    position: relative;
}

#products-nav-editor .promotion {
    width: 60px;
    height: 40px;
    position: absolute;
    top: -15px;
    left: 110px;
}

#products-nav-editor li>a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    height: 20px;
}

#actions {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#products-nav-editor li a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    width: 105px;
    height: 20px;
}

#products-nav-editor .remove {
    color: #000000;
}

#products-nav-editor .move {
    color: #000000;
}

#products-nav-editor .quantity {
    color: #000000;
}

#add-product-btn {
    margin-bottom: 20px;
    width: 130px;
    height: 35px;
    background-color: darkblue;
    border: none;
    border-radius: 15px;
}

#add-product-btn>a {
    display: block;
    color: #ffffff;
    text-decoration: none;
}

#remove-product{
    text-align: center;
}

#move-product{
    text-align: center;
}

#change-quantity {
    text-align: center;
}

#add-product {
    text-align: center;
    width: 200px;
    margin: 0 auto;
}

#add-product input[type=submit] {
    margin-top: 20px;
    width: 100px;
    height: 35px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 15px;
    color: #ffffff;
}

#promotions-nav {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#promotions-nav li {
    padding: 5px;
    text-align: center;
    display: inline-block;
    width: 140px;
    height: 160px;
    background-color: lightgray;
    border-radius: 20px;
}

#promotion-actions {
    margin-top: 10px;
}

#promotions-nav a {
    display: block;
    width: 140px;
    height: 20px;
    color: #286090;
    text-decoration: none;
}

#promotions-search {
    text-align: center;
}

#promotions-btn{
    margin-bottom: 20px;
    width: 130px;
    height: 35px;
    background-color: darkblue;
    border: none;
    border-radius: 15px;
}

#promotions-btn>a{
    display: block;
    color: #ffffff;
    text-decoration: none;
}

.center {
    text-align: center;
}

#add-promotion {
     width: 165px;
     margin: 0 auto;
}

#add-promotion input {
     margin-bottom: 10px;
}

#add-promotion-btn {
    margin-bottom: 20px;
    width: 130px;
    height: 35px;
    background-color: darkblue;
    border: none;
    border-radius: 15px;
    color: #ffffff;
}